<div id="<%= dom_id creature %>">
  <p>
    <strong>Name:</strong>
    <%= creature.name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= creature.power %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= creature.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= creature.picture %>
  </p>

</div>
